.recipe {
  margin: 20px auto;
  /* text-align: center; */
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
}
.recipe h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto";
}
.recipe.dark {
  background-color: rgb(113, 113, 113);
  color: #fff;
}
.recipe ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  padding: 0;
}
.recipe.dark li {
  color: #fff;
}

.recipe li {
  margin: 0 30px;
  padding: 5px 15px;
  /* list-style: none; */
  margin-right: 10px;
  color: black;
}

.recipe .method {
  text-align: left;
  line-height: 1.5em;
}

.recipe p {
  margin: 0 30px;
  padding: 15px;
  text-align: left;
}
