.home {
  margin: 0 auto 20px;
  max-width: 90%;
  text-align: center;
  padding: 10px;
  padding-top: 0;
  overflow: hidden;
}

.home h2 {
  font-size: 600;
  font-family: "Roboto";
  letter-spacing: 1px;
}
