.recipe-list {
  padding: 2px;
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr;
  grid-gap: 60px;
  margin: 40px auto;
  max-width: 1500px;
}

.recipe-list .card {
  background-color: #fff;
  color: #333;
  width: 100%;
  padding: 20px;
  margin: 0 5px 0 5px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
}

.recipe-list .card.dark {
  background-color: rgb(113, 113, 113);
}

.recipe-list .card.dark p{
  color: #fff;
}
.recipe-list .card:hover {
  transform: rotate(2deg);
}

.recipe-list h3 {
  color: rgb(116, 35, 190);
  margin-bottom: 3px;
  border-bottom: 1px solid rgb(116, 35, 190);
}

.recipe-list p,
.recipe-list a {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  padding: 5px;
}

.recipe-list .card div a {
  cursor: pointer;
  color: rgb(116, 35, 190);
  font-weight: 700;
  width: 100%;
}

.recipe-list .card div a:hover {
  color: rgb(116, 35, 190);
  text-decoration: underline;
}
