.search-bar form {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Roboto";
}

.search-bar input {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  height: 30px;
  font-size: 18px;
  font-family: "Roboto";
}

.search-bar input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: "Roboto";
}
.search-bar {
  align-self: center;
}
